@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Import Caveat font family */
@import url("./assets/fonts/caveat.css");

body::-webkit-scrollbar {
  width: 0;
  border-radius: 4.5rem;
  background-color: transparent !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #a9927d !important;
}
